@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.bg-glass {
 /* From https://css.glass */
background: rgba(255, 255, 255, 0.56);
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
backdrop-filter: blur(7.3px);
-webkit-backdrop-filter: blur(7.3px);
}

